@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --main-bg-color: #b5c2ca;
    --secondary-bg-color: #ffffff;
    --accent-bg-color: #081225;
    --main-txt-color: #1b2334;
    --accent-txt-color: #ffffff;
    --secondary-txt-color: #b3b7bc;
}